.el-dialog.addCandidateAlert{
  width: 1200px;
  height: 845px;
  .el-dialog__header{
    border-bottom: none;
    height: 80px;
  }
  .el-dialog__body{
    padding: 0;
  }
  .addMain{
    font-size: 0;
    .addCandidate_content{
      font-size: 14px;
      display: inline-block;
      width: 860px;
      height: 765px;
      overflow: auto;
      border-top:1px solid rgba(229,229,229,1);
      padding: 20px;
      .tab_title{
        display: inline-block;
        width: 100%;
        overflow: auto;
        li{
          display: inline-block;
          width:100px;
          height:40px;
          line-height: 40px;
          text-align: center;
          color:rgba(171,181,197,1);
          margin-right: 20px;
          background:rgba(255,255,255,1);
          box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
          border-radius:4px;
          img{
            vertical-align: middle;
          }
          .upload{
            margin-right:27px;
          }
        }
        li.active{
          color:rgba(57,74,102,1);
        }
        .button{
          float: right;
        }
      }
    }
    .addCandidate_right{
      width: 340px;
      height: 765px;
      display: inline-block;
      vertical-align: top;
      background:rgba(242,243,245,1);
    }
  }


}
