.el-dialog.candidateSteps{
  width: 1200px;
  height: 1128px;
  top:48px;
  margin-top: 0!important;
  .el-dialog__header{
    border-bottom: none;
    height: 80px;
    .el-dialog__close.el-icon.el-icon-close{
      width: 30px;
      height: 30px;
      background: url("../../../assets/img/candidate/tanchuang_ic_cancel.png");
    }
    .el-icon-close:before{
      content: "";
    }
  }
  .el-dialog__body{
    padding: 0;
    .save{
      position: absolute;
      right: 85px;
      top: 22px;
      cursor: pointer;
    }
  }
  .addMain{
    font-size: 0;
    .personInfo{
      width: 100%;
      height:283px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(229,229,229,1);
      .primary{
        font-size: 0;
        padding: 0 0 0 30px;
        margin: 20px 0 13px;
        span{
          display: inline-block;
          font-size:16px;
        }
        .name{
          font-size:30px;
          font-family:MicrosoftYaHei-Bold;
          font-weight:bold;
          color:rgba(57,74,102,1);
          line-height:40px;
          margin-right: 19px;
        }
        .post{
          font-family:MicrosoftYaHei;
          color:rgba(57,74,102,1);
          line-height:21px;
          margin-right: 15px;
        }
        .tag{
          height:24px;
          line-height: 24px;
          color: #fff;
          background:rgba(102,173,255,1);
          border-radius:4px;
          padding: 0 10px;
        }
      }
      .minor{
        font-size: 0;
        padding-left: 30px;
        margin: 0 0 74px 0;
        span{
          display: inline-block;
          font-size: 14px;
          color: #97A2B3;
          height: 20px;
          line-height: 20px;
          margin: 0 22px 0 0;

        }
        .phone{
          text-indent: 24px;
          background: url("../../../assets/img/candidate/tanchuang_ic_phnnenumber.png") no-repeat left;
        }
        .email{
          text-indent: 27px;
          background: url("../../../assets/img/candidate/tanchuang_ic_email.png") no-repeat left;
        }
        .sex{
          text-indent: 23px;
          background: url("../../../assets/img/candidate/tanchuang_ic_gender.png") no-repeat left;
        }
        .woekExpP{
          text-indent: 30px;
          background: url("../../../assets/img/candidate/tanchuang_ic_exp.png") no-repeat left;
        }
        .address{
          text-indent: 31px;
          background: url("../../../assets/img/candidate/tanchuang_ic_place.png") no-repeat left;
        }
      }
      .fivesteps{
        padding: 0 15px 0 27px;
        display:flex;
        justify-content: space-between;
        .onStep{
          .up{
            background: #5EC860;
            em{
              border-top:1px dashed  #5EC860
            }
          }
          .down{
            color: #5EC860;
          }
        }
        div{
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          span{
            display: inline-block;
          }
          .up{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 14px;
            margin: 0 0 11px 0;
            color: #fff;
            line-height: 20px;
            text-align: center;
            background:rgba(94,200,96,0.5);
            position: relative;
            em{
              position: absolute;
              left: 20px;
              top: 10px;
              width: 262px;
              height: 2px;
              border-top:1px dashed  rgba(94,200,96,0.5);
            }
          }
          .down{
            color:#97A2B3;
            font-size: 12px;
          }
        }
      }
      .change_tab_title{
        display: inline-flex;
        width: 860px;
        margin-top: 40px;
        justify-content: space-between;
        li{
          display: inline-block;
          font-size:14px;
          font-family:MicrosoftYaHei;
          color:#394A66;
          padding: 0 32px;
          line-height:19px;
          padding-bottom: 9px;
          border-bottom: 4px solid transparent;
          cursor: pointer;
        }
        li.active{
          color: #f95714;
          border-bottom: 4px solid #f95714;
        }
      }
    }
    .candidate_content{
      font-size: 14px;
      display: inline-block;
      width: 860px;
      height: 765px;
      // overflow: auto;
      /*基本信息*/
      .basic_first{
        .tab_title{
          display: inline-block;
          width: 100%;
          height: 44px;
          overflow: auto;
          margin: 20px 0 0;
          padding: 0 20px;
          li{
            display: inline-block;
            width:100px;
            height:40px;
            line-height: 40px;
            text-align: center;
            color:rgba(171,181,197,1);
            margin-right: 20px;
            background:rgba(255,255,255,1);
            box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
            border-radius:4px;
            cursor: pointer;
            img{
              vertical-align: middle;
            }
            .upload{
              margin-right:27px;
            }
          }
          li.active{
            color:rgba(57,74,102,1);
          }
          .button{
            float: right;
          }
        }
        .original_resume{
          padding: 10px;
        }
        .standard_resume{
          .clearfix{
            clear: both;
          }
          .personal{
            height:140px;
            background:linear-gradient(270deg,rgba(181,215,255,1) 0%,rgba(102,173,255,1) 48%,rgba(255,255,255,1) 100%);
            text-align: center;
            color: #fff;
            font-size:14px;
            .head-photo{
              width: 80px;
              height: 80px;
              border-radius: 50%;
              margin-top: -40px;
            }
            .userName{
              font-weight:bold;
              margin-top: 19px;
            }
            p{
              margin-bottom: 10px;
              line-height: 19px;
              height: 19px;
              span{
                display: inline-block;
                height: 19px;
                line-height: 19px;
              }

              .sex{
                text-indent: 25px;
                background: url("../../../assets/img/candidate/man.png") no-repeat left;
              }
              .phone{
                text-indent: 25px;
                background: url("../../../assets/img/candidate/icon_phone.png") no-repeat left;
              }
              .email{
                text-indent: 25px;
                margin-left: 25px;
                background: url("../../../assets/img/candidate/icon_mail.png") no-repeat left;
              }
            }
          }
          .resume_content{
            padding: 20px;
            .headLine{
              height:24px;
              font-size:18px;
              font-family:MicrosoftYaHei-Bold;
              font-weight:bold;
              color:#394A66;
              line-height:24px;
              border-left: 4px solid #66ADFF;
              text-indent: 10px;
              margin-bottom: 20px;
            }
            .personInfos,.work,.education,.sel_description{
              .line{
                margin-bottom: 40px;
                font-size: 14px;
                color: #394A66;
                p{
                  height: 20px;
                  line-height: 20px;
                }
                .label{
                  color: #748093;
                  margin-bottom: 10px;
                }
              }
            }
            .sel_description{

              .line{
                margin-bottom: 120px;
                div{
                  line-height:24px;
                }
              }
            }
          }


        }


      }
      /*面试*/
      .interview_second{
        .noInterviews,.noOps{
          text-align: center;
          img{
            margin: 153px 0 0;
          }
          p{
            height:19px;
            font-size:14px;
            color:rgba(57,74,102,1);
            line-height:19px;
          }
          button{
            width:220px;
            height:40px;
            background:rgba(249,87,20,1);
            border-radius:4px;
            cursor: pointer;
            border: none;
            color: #fff;
            margin: 22px 0 0;
          }
        }
        .interview_basic{
          overflow: hidden;
          padding: 0 20px;
          .headLine{
            height:24px;
            font-size:18px;
            font-family:MicrosoftYaHei-Bold;
            font-weight:bold;
            color:#394A66;
            line-height:24px;
            border-left: 4px solid #f95714;
            text-indent: 10px;
            margin-bottom: 20px;
          }
          .interview_modal{
            width:820px;
            //height:280px;
            margin: 16px 0 0 ;
            background:rgba(255,255,255,1);
            border-radius:4px;
            border:1px solid rgba(229,229,229,1);
            font-size: 0;
            .title{
              height: 40px;
              background: #F2F3F5;
              border-radius:4px 4px 0px 0px;
              //margin: 19px 0 10px 40px;
            }
            div{
              margin: 19px 10px 10px 40px;
              p{
                height:30px;
                font-size:14px;
                color:rgba(116,128,147,1);
                line-height:30px;
                margin: 0px 10px 10px 0px;
                i{
                  color: #394A66;
                  background: #F2F3F5;
                  padding: 3px 11px;
                  margin-right: 10px;
                }
              }
            }
          }
          .selectedModel{
            margin: 10px 0 40px;
          }
          .interview_button{
            text-align: center;
            .button{
              width:80px;
              height:34px;
              color: #fff;
              background:#f95714;
              border-radius:4px;
              border: none;
            }
            .cancel{
              background: #DBDBDB;
            }
          }
        }
        /*面试列表以及状态*/
        .interview_list_status{
          padding: 40px 60px;
          button{
            width: 220px;
            height: 40px;
            background: #f95714;
            border-radius: 4px;
            cursor: pointer;
            border: none;
            color: #fff;
            display: block;
            margin: 0 auto;
          }
          .interview_list{
            padding: 0 0 0 60px;

            .interview{
             width: 680px;
             margin: 40px 0 0 0;
             background: #fff;
             border-radius:4px;
             border:1px solid rgba(229,229,229,1);
             position: relative;
             .img_status{
               position: absolute;
               top:8px;
               left: -44px;
             }
             .title{
               height: 40px;
               line-height: 40px;
               padding: 0 20px;
               color: #394A66;
               font-weight:bold;
               background: #F2F3F5;
               border-radius:4px 4px 0px 0px;
               overflow: hidden;
               i{
                 display: inline-block;
                 font-weight:bold;
               }
               .el-dropdown{
                 padding:0;
                 float: right;
                 .el-dropdown-link{
                 }
               }

             }
             div{
               padding: 20px 40px;
               p{
                 height: 20px;
                 line-height: 20px;
                 margin: 0 0 15px 0;
                 color: #748093;
                 img{
                   vertical-align: middle;
                   margin: 0 8px 0 3px;
                 }
                 i{
                   color: #394A66;
                 }
                 .interview_status{
                   background: #66ADFF;
                   color: #fff;
                   padding: 2px 8px;
                   border-radius: 4px;
                 }
                 .interview_feedbook{
                   color: #66ADFF;
                   float: right;
                   cursor: pointer;
                 }
                 label{
                   text-align: right;
                   width: 85px;
                   display: inline-block;
                 }
               }
               .feedbook_form{
                 padding: 0;
                 .vertical{text-align: center;margin: 50px 0 20px!important;}
                 .form-group{
                   padding: 0;
                   margin: 20px 0 0 0;
                   font-size: 0;
                   label{vertical-align: top;font-size: 14px;margin-right: 4px;}
                   textarea{
                     width:480px;
                     height:120px;
                     background:rgba(255,255,255,1);
                     border-radius:4px;
                     border:1px solid rgba(229,229,229,1);
                     font-size: 14px;
                   }
                  span{
                    display: inline-block;
                    padding: 0 20px 0 50px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    margin: 0 10px 0 0;
                    border-radius: 4px;
                    border: 1px solid #E5E5E5;
                    color: #748093;
                    cursor: pointer;
                  }
                   .active{
                     color: #f95714;
                     border: 1px solid #f95714;
                   }
                   .yawp{
                     background: url("../../../assets/img/candidate/tanchuang_ic_bumanyi.png") no-repeat 20px 5px;
                   }
                   .yawp.active{
                     background: url("../../../assets/img/candidate/tanchuang_ic_bumanyi_pre.png") no-repeat 20px 5px;
                   }
                   .common{
                     background: url("../../../assets/img/candidate/tanchuang_ic-yiban.png") no-repeat 20px 5px;
                   }
                   .common.active{
                     background: url("../../../assets/img/candidate/tanchuang_ic-yiban_pre.png") no-repeat 20px 5px;
                   }
                   .satisfactory{
                     background: url("../../../assets/img/candidate/tanchuang_ic_jiaomanyi.png") no-repeat 20px 5px;
                   }
                   .satisfactory.active{
                     background: url("../../../assets/img/candidate/tanchuang_ic_jiaomanyi_pre.png") no-repeat 20px 5px;
                   }
                   .great_satisfaction{
                     background: url("../../../assets/img/candidate/tanchuang_ic_feichangmanyi.png") no-repeat 20px 5px;
                   }
                   .great_satisfaction.active{
                     background: url("../../../assets/img/candidate/tanchuang_ic_feichangmanyi_pre.png") no-repeat 20px 5px;
                   }
                   .button{
                     width:80px;
                     height:34px;
                     color: #fff;
                     background:#f95714;
                     border-radius:4px;
                     border: none;
                     font-size: 14px;
                     cursor: pointer;
                   }
                   .cancel{
                     background: #DBDBDB;
                     margin: 0 0 0 6px;
                   }
                 }
               }
             }
           }
          }
        }
      }
      /*offer*/
      .offer_third{
        .noOps,.noOffer{
          text-align: center;
          img{
            margin: 106px 0 0;
          }
          p{
            height:19px;
            font-size:14px;
            color:rgba(57,74,102,1);
            line-height:19px;
          }
          button{
            width:220px;
            height:40px;
            background:rgba(249,87,20,1);
            border-radius:4px;
            cursor: pointer;
            border: none;
            color: #fff;
            margin: 12px 0 0;
          }

        }
      }
      /*备注*/
      .remark_forth{
        .noOps{
          text-align: center;
          img{
            margin:72px 0 0;
          }
          p{
            height:19px;
            font-size:14px;
            color:rgba(57,74,102,1);
            line-height:19px;
          }
        }
        button{
          width:220px;
          height:40px;
          background:rgba(249,87,20,1);
          border-radius:4px;
          cursor: pointer;
          border: none;
          color: #fff;
          margin: 12px 0 0;
        }
        .remarkList{
          button{
            display: inherit;
            margin: 30px auto;
            cursor: pointer;
          }
          .remark_box{
            padding: 0 20px;
            border-top: 1px solid #e5e5e5;
            .remark{
              border-bottom: 1px solid #e5e5e5;
              padding: 20px 0;
              .ops_person{
                overflow: auto;
                span{
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  margin: 0 10px 0 18px;
                  border-radius: 50%;
                  text-align: center;
                  font-weight:bold;
                  background: #5CDBD3;
                  color: #fff;
                }
                i{
                  height:19px;
                  font-size:14px;
                  line-height:19px;
                }
                .hrName{
                  color:rgba(57,74,102,1);
                }
                .time{
                 color:#748093;
                  float: right;
                }
              }
              .ops_content{
                padding-left: 70px;
                height:19px;
                font-size:14px;
                line-height:19px;
                color:#394A66;
              }
              .ops{
                overflow: auto;
                i{
                  float: right;
                  color:#FF001F;
                  height: 19px;
                  cursor: pointer;
                }
              }
            }
          }
        }


      }
      /*附件*/
      .accessory_fifth{
        .noOps{
          text-align: center;
          img{
            margin:112px 0 0;
          }
          p{
            height:19px;
            font-size:14px;
            color:rgba(57,74,102,1);
            line-height:19px;
            margin: 43px 0 25px;
          }
          .uploadFile{
            position: relative;
            height: 40px;
            width:220px;
            margin: 12px auto auto;

            input {
              opacity: 0;
              width:220px;
              height:40px;
              z-index: 10000;
              border:1px solid #ccc;
              position: absolute;
              left: 0;
              top:0;
            }
            span {
              position: absolute;
              left: 0;
              top:0;
              font-size: 14px;
              text-align: center;
              line-height: 34px;
              width:220px;
              height:40px;
              background:rgba(249,87,20,1);
              border-radius:4px;
              cursor: pointer;
              border: none;
              color: #fff;
            }
          }
          .button{
            width:220px;
            height:40px;
            background:rgba(249,87,20,1);
            border-radius:4px;
            cursor: pointer;
            border: none;
            color: #fff;
            margin: 12px 0 0;
          }
        }
        .fileList{
          padding: 20px;
          .headLine{
            height:24px;
            font-size:18px;
            font-family:MicrosoftYaHei-Bold;
            font-weight:bold;
            color:#394A66;
            line-height:24px;
            border-left: 4px solid #f95714;
            text-indent: 10px;
            margin-bottom: 20px;
          }
          .file_text_box{
            border: 1px solid #e5e5e5;
            border-radius:4px;
            .file_text{
              border-bottom:1px solid #e5e5e5;
              .file{
                height: 40px;
                line-height: 40px;
                padding: 0 21px 0 24px;
                overflow: hidden;
                .filename{
                  color:#394A66;
                  display: inline-block;
                  text-indent: 26px;
                  background: url("../../../assets/img/candidate/fujian.png") no-repeat left;
                }
                div{
                  float: right;
                  .downLoad{
                    margin: 0 20px;
                  }
                  .detail,.downLoad{
                    color:#66ADFF ;
                    cursor: pointer;
                  }
                  .delete{
                    cursor: pointer;
                    color: #FF001F;
                  }
                }

              }
            }
            .file_text:last-child{
              border-bottom:none;
            }
          }
        }
      }
      /*操作记录*/
      .opsRecord_seventh{
        .noOps{
          text-align: center;
          img{
            margin:106px 0 0;
          }
          p{
            height:19px;
            font-size:14px;
            color:rgba(57,74,102,1);
            line-height:19px;
            margin: 27px 0 0;
          }
        }
        .records{
          padding: 40px;
          .record{
            border-left: 1px dashed #f95714;
            position: relative;
            img{
              position: absolute;
              left: -10px;
              top: 0;
            }
            p{
              text-indent: 35px;
              height:19px;
              font-size:14px;
              line-height:19px;
              margin: 0 0 10px 0;
            }
            .time{
              height:21px;
              font-size:16px;
              font-weight:bold;
              color:rgba(57,74,102,1);
              line-height:21px;
              margin: 0 0 20px 0;
            }
            .ops,.remark{
              color:rgba(57,74,102,1);
            }
            .ops_person{
              font-size:14px;
              color:#97A2B3;
              line-height:19px;
              margin: 0 0 10px 0;
            }
          }

        }
      }



    }
    .candidate_right{
      width: 340px;
      height: 765px;
      display: inline-block;
      vertical-align: top;
      background:rgba(242,243,245,1);
      text-align: center;
      .operating_button{
        width: 280px;
        position: relative;
        margin: 41px 28px 0 32px;
        .buttonRow{
          width: 50px;
          height:40px;
          margin-left: 230px;
          cursor: pointer;
          background:#f95714;
          border: none;
          color: #fff;
          .el-icon-caret-bottom:before {
            right: 16px;
          }
        }
        .button{
          width:228px;
          height:40px;
          background:#f95714;
          border-radius:4px;
          cursor: pointer;
          border: none;
          font-size: 14px;
          color: #fff;
          position: absolute;
          left:0;
          top: 0;
        }
        .button_pullDown{
          display: inline-block;
          width: 280px;
          height: 200px;
          background:#fff;
          box-shadow:0px 0px 4px 0px rgba(0,0,0,0.2);
          border-radius:4px;
          text-align: left;
          ul{
            width: 100%;
            height: 100%;
            font-size: 14px;
            color: #394A66;
            li{
              display: inline-block;
              text-indent: 13px;
              width: 100%;
              height: 40px;
              line-height: 40px;
              cursor: pointer;
            }
            .el-icon-success{
              color: #f95714;
            }
            .el-icon-success:before {
              content: "\E62D";
              right: 20px;
              position: absolute;
              color: #f95714;
            }
            li:hover{
              color: #f95714;
              background: #F8FAFC;
            }
          }
        }
      }
      .weedOut,.remark,.recommend{
        width:280px;
        height:40px;
        border-radius:4px;
        font-size: 14px;
        color:#748093;
        border:none;
        cursor: pointer;
      }
      .remark{
        background: #97A2B3;
      }
      .weedOut{
        background: #fff;
        margin: 15px 0;
      }
      .recommend{
        background: #fff;
        margin: 15px 0 0;
      }
    }
  }


}
.el-dialog.addCandidateAlert.addCandidateAlert_add{
  height: 1053px;
}
.standard_required{
  height: 208px;
  border-top:1px solid #e5e5e5;
  .basic{
    padding:27px 22px 15px;
    .inputBox{
      display: inline-block;
      margin-bottom: 15px;
      margin-right: 52px;
      img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      .el-input{
        width: 220px;
        display: inline-block;
      }
    }
    .inputBox:nth-child(4),.inputBox:nth-child(8){
      margin-right: 0;
    }

  }
}

.el-dialog.recommend{
  width:540px;
  height:400px;
  background:rgba(255,255,255,1);
}

