.hide {
    display: none;
}
.uploadleave{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #F8FAFC;
}
.uploadleave-step dl{
    width: 96px;
    height: 42px;
    margin-left:90px ;
    margin-top: 10px;
    margin-bottom: 19px;
    float: left;
    /*background-color: gray;*/
    text-align: center;
}
.uploadleave-step dl:first-child{
    margin-left: 0;
}
.uploadleave-status{
    width: 800px;
    margin: 29px auto 0 auto;
}
.uploadleave-status img{
    width: 48px;
    height: 48px;
    float: left;
}
.uploadleave-status .step_a{
    height: 2px;
    width: 138px;
    float: left;
    margin-top: 24px;
    background-color: #DFE3E8;
}
.uploadleave-status .step_b{
    height: 2px;
    width: 138px;
    float: left;
    margin-top: 24px;
    background-color: #C9EACC;
}
/* #step_a{
    background-color: #C9EACC;
}
#step_b{
    background-color: #DFE3E8;
} */
.uploadleave-step{
    width: 848px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
.leaveStyle{
    margin-top: 20px;
    padding: 0 20px;
    min-height: 350px;
}
.leaveStyle div{
    position: relative;
    height: 108px;
    /* width: 837px; */
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
}
.leaveStyle .title {
    left: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    border: 0;
}
.leaveStyle div:last-child{
    border: 0;
}
.leaveStyle div img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.leaveStyle div a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    right: 0;
    width: 178px;
    height: 38px;
    background-color:  #FAFBFC;
    border: 1px solid #E5E5E5;
    font-size: 16px;
    border-radius: 4px;
}
.uploadLeaveImg {
    width: 18px;
    height: 18px;
    left: 13px;
}
.modalTitle {
    font-size: 20px;
    color: #24324c;
}

.uploadLeaveSearch {
    line-height: 60px;
    /*padding-left: 20px;*/
    color: #394A66;
    /*font-size: 0;*/
  }
.uploadLeaveSearch input {
    height: 34px;
    font-size: 14px;
  }
.uploadLeaveSearch input[type=text] {
    text-indent: 20px;
    width: 88%;
    margin: 0 5px 0 0;
    background: #FAFBFC;
    border: 1px solid #E5E5E5;
    outline: none;
  }
.uploadLeaveSearch .search {
    width: 80px;
    line-height: 34px;
    outline: none;
    border: none;
    background-color: #F95714;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 0px;
}
.uploadLeaveTable {
  /*  margin-left: 4.8%;
    width: 90.5%;*/
    width: 100%;
    padding: 0 20px;
    height: 457px;
}
.uploadLeaveTable .add {
    color: #507BE6;
    cursor: pointer;
}
.uploadLeaveConfirm {
    text-align: center;
    position: relative;
    height: 85%;
}
.uploadLeaveContent {
    font-size: 20px;
    margin-top: 39px;
}
.uploadLeaveConfirmBtn {
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    height: 60px;
    display:flex;
    justify-content: center;
    margin-top: 33px;
    background-color: #FAFBFC;
    border-top: 1px solid #E5E5E5;
}
.uploadLeaveConfirmBtn > button{
    /*flex: 1;*/
    height: 32px;
    width: 106px;
    opacity: 1;
    font-weight: normal;
    font-size: 14px;
    margin-top: 14px;
    border-radius: 2px;
}
.uploadLeaveConfirmBtn > button:nth-child(2){

    margin-right:10px;
    background: #e86230;
    color: #FFFFFF;
}
.uploadLeaveConfirmBtn > button:nth-child(3){
    margin-left:10px;
    background: rgb(229,229,229);
    border: 1px solid #E5E5E5;
}
.uploadLeaveSetp2 {
    background: #ffffff;
}

.uploadLeaveSetp2 input{
    background: #fff;
}


.uploadeLeaveLabel {
    display: inline-block;
    width: 4px;
    margin-left: 21px;
    height: 18px;
    background: rgba(249,87,20,1);
}
.uploadLeaveInfo {
    /*display: flex;*/
    background: rgba(250,251,252,1);
    border: 1px solid rgba(229,229,229,1);
    margin: 0 21px;
    padding: 30px 21px;
}

/*.uploadLeaveInfo > div:nth-child(1) {
    flex: 1;
}

.uploadLeaveInfo > div:nth-child(2) {
    flex: 4;
    display: flex;
}*/
.uploadLeaveInfo > div:nth-child(2) > div {
    /*flex: 1;*/
    /*margin-top: 31px;*/
    font-size: 14px;
    color: rgba(116,128,147,1);
    text-align: right;
    /*margin-left: 37px;*/
}
.uploadLeaveInfo > div:nth-child(2) > div > div {
   /* margin-bottom: 20px;
    margin-right: 21px;*/
    margin: 0 0 20px 0;
}
.uploadLeaveInfo > div:nth-child(2) > div > div >input {
    width: 240px;
    height: 34px;
}

.uploadLeaveInfo > div:nth-child(1) > img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    /*margin: 59px 0 59px 30%;*/
    margin: auto 30px auto 0;
}

.uploadLeaveSetp3 {
    background: #ffffff;
}


.uploadLeaveInfo3 {
    background: rgba(250,251,252,1);
    border: 1px solid rgba(229,229,229,1);
    color: rgba(116,128,147,1);
    text-align: right;
    margin: 0 21px;
}
.uploadLeaveInfo3 > div:nth-child(1) {
    text-align: left;
    margin-left: 49px;
    margin-top: 36px;
}

 .form {
    /*margin: 0 20px 50px 30px;*/
     margin:20px 21px 24px;
    box-sizing: border-box;
    text-align: left;
}
 .form .inline{
    /*width: 43%;*/
     width: 373px;
    display: inline-block;
    text-align: left;
    /*margin: 20px 0;*/
    /*padding-right: 20px;*/
}

 .form .item {
    /*width: 99%;*/
    padding-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    display: flex;
     /*max-width: 900px;*/
}

 .form .item label{
    /* display: table-cell; */
    /*min-width: 80px;*/
     width: 63px;
     margin-right: 10px;
    /* position: absolute; */
    height: 34px;
    line-height: 34px;
    text-align: right;
     display: inline-block;
    /*display: flex;*/
}
 .form .item input[type="checkbox"]{
     -webkit-appearance: none;  /*清除复选框默认样式*/
     background:url("../../images/dismission/check.png") no-repeat ;
     background-size: contain;
     height: 13px;
     width: 13px;
     vertical-align: middle;
     outline: none;
     /*border: 1px solid #E5E5E5;*/
 }
.form .item input[type="checkbox"]:checked{
    background:url("../../images/dismission/checked.png") no-repeat;
    background-size: contain;
    border: none;
}

 .form input {
    /* display: table-cell; */
    min-width: 300px;
    width: 300px;
    /* width: 100%; */
    /* margin: 0 55px; */
    height: 34px;
    /* text-indent: 12px;*/
}
 .form textarea {
    /*width: 100%;*/
}

/* .uploadLeaveInfo3 > div:nth-child(2) > div > div{
    margin: 20px 0 20px 49px;
} */
/* .uploadLeaveInfo3 > div:nth-child(2) > div > div >input {
    width: 240px;
    height: 34px;
} */
.uploadLeaveSetp4 {
    background: #ffffff;
}


.uploadLeaveInfo4 {
    background: rgba(250,251,252,1);
    border: 1px solid rgba(229,229,229,1);
    color: rgba(116,128,147,1);
    text-align: right;
    margin: 0 21px;
}
.uploadLeaveInfo4 > div:nth-child(1) {
    display: flex;

}
/*.uploadLeaveInfo4 > div:nth-child(1) > div > div{
    margin: 20px 0 20px 49px;
}*/
.uploadLeaveInfo4 > div:nth-child(1) > div > div >input {
    width: 240px;
    height: 34px;
}
.uploadLeaveSetup4{
    margin:59px auto ;
    width:400px;
    height:44px;
    background: #97A2B3;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.19px;
    border: 0;
}
.uploadLeaveSetup4.active {
    background: #F95714;
}

.tabs-left{
    /* display: flex; */
    position: relative;
}

.tabs-left .nav-tabs {
    position: absolute;
    display: flex;
    flex-flow: column;
    border-bottom: 0;
}
.tabs-left .nav-tabs li {
    padding: 10px 7px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    width: 119px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    color:#7A8699;
}
.tabs-left .nav-tabs li.active {
    background: #fff;
    border-left: 2px solid #F95714;
    color: #F95714;
    border-right: 0;
}

.tabs-left .tab-content {
    margin-left: 83px;
    padding: 0 10px 10px 40px;
    border: 1px solid #FAFBFC;
    height: 400px;
    overflow: auto;
    border-top: 0;
}

.tabs-left .tab-content,.tabs-left .tab-content .tab-pane.active {
    background: #fff;
    font-size: 14px;
    color: #748093;
}

.tab-content input[type="checkbox"]{
    -webkit-appearance: none;  /*清除复选框默认样式*/
    background:url("../../images/dismission/check.png") no-repeat ;
    background-size: contain;
    height: 13px;
    width: 13px;
    vertical-align: middle;
    outline: none;
    /*border: 1px solid #E5E5E5;*/
    border-radius: 2px;
    top: -3px;
}
.tab-content input[type="checkbox"]:checked{
    background:url("../../images/dismission/checked.png") no-repeat;
    background-size: contain;
    border: none;
}
.tab-content input[type="radio"]{
    -webkit-appearance: none;  /*清除复选框默认样式*/
    height: 13px;
    width: 13px;
    background:url("../../images/dismission/check_b.png") no-repeat ;
    background-size: contain;
    outline: none;
    margin: -1px 10px 0;
}
.tab-content input[type="radio"]:checked {
    background:url("../../images/dismission/checked_b.png") no-repeat;
    background-size: contain;
    border: none;
}
h1 {
    font-size: 24px;
    color: #394A66;
    letter-spacing: 0;
    text-align: center;
    margin: 20px 0 15px 0;
}
h3 {
    font-size: 16px;
    color: #748093;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 20px;
}
textarea{
    padding-top: 7px;
    border: 1px solid #e5e5e5;
}
/*textarea::-moz-placeholder{*/
    /*margin-left: 12px;*/
    /*margin-top: 7px;*/
/*}*/

input[type=text],input[type=email],input[type=password],textarea{
    text-indent: 12px;
}

.break-promise {
    /*background: #FAFBFC;*/
    /*border: 1px solid #E5E5E5;*/
    margin: 30px 0 21px;
}
.break-promise-behavior {
    padding: 19px 20px;
    border-bottom: 1px solid #E5E5E5;
}
.behavior-title {
    font-size: 24px;
    margin-bottom: 18px;
}

.break-promise-behavior .behavior-title img {
    margin-right: 15px;
    vertical-align: middle;
}
.behavior-describe em {
    color: #97A2B3;
    margin-right: 15px;
    display: inline-block;
}

.behavior-describe p{
    display: inline-block;
    margin-left: 74px;
    line-height: 24px;
    margin-top: -19px;
    font-size: 14px;

}

.report-basic {
    background: #FAFBFC;
    border: 1px solid #E5E5E5;
    padding: 28px 0 45px;
    text-align: center;
    margin-top: 30px;
}
.report-basic .report-head-name {
    margin: 15px auto;
    font-size: 24px;
}

.report-basic .report-head-basic span{
    color: #97A2B3;
    margin-right: 10px;
}
.tableList{
    width: 90%;
    font-size: 100%;
    color: #748093;
    margin: 0 auto;
    line-height: 41px;
    height: 41px;
    background: #FAFBFC;
    border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}
.company-content .module .module-content{

}

/*blance add css*/
.layui-input-inline .dismissionType{
    width: 300px;
    height:24px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    font-size: 14px;
}
.uploadLeaveInfo>div{
    display:inline-block;
}
.uploadLeaveInfo > div > div > div >input {
    color: #394a66;
}
.uploadLeaveInfo > div:nth-child(2)>div{
    display: inline-block;
    margin: 0;
}
.uploadLeaveInfo > div:nth-child(2)>div:first-child{
    margin:0 60px 0 0;
    display: inline-block;
}
.uploadLeaveInfo > div:nth-child(2)>div:nth-child(2){
    vertical-align: top;

}
.sex.active{
    color: #FFFFFF;
}
.sex{
    display: inline-block;
    width: 120px;
    height: 32px;
    font-size: 14px;
    padding: 7px 42px 7px 60px;
    color: #394A66;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    position: relative;
}
.uploadLeaveWoman.active{
    background: url('../../images/dismission/女-白.png') #e86230 no-repeat 40px;
}

.uploadLeaveWoman{
    content: ' ';
    background: url('../../images/dismission/女性-选中后.png')  #FFFFFF no-repeat 40px;
    /* position: absolute;
     left: 43px;
     top: 11px;
     width: 20px;
     height: 24px;*/
}
.uploadLeaveMan{
    content: ' ';
    margin-left: -4px;
    background: url('../../images/dismission/男-蓝.png')  #FFFFFF no-repeat 40px;
    /*position: absolute;*/
    /*left: 43px;*/
    /*width: 20px;*/
    /*top: 11px;*/
    /*height: 24px;*/
}
.uploadLeaveMan.active{
    background: url('../../images/dismission/男-白.png') #e86230  no-repeat 40px;
}
.form textarea{
    width: 783px;
    height: 107px;
}
select.education,select.workType,select.dismissionType{
    width: 300px;
    height: 34px;
    background: #FAFBFC;
    border: 1px solid #E5E5E5;
    text-indent: 12px;
    border-radius: 0;
    box-shadow: none;
}
