/*
<!-- 
    Author:周双
    日期：2018/11/27
-->
*/
.el-form-item.is-required label::before{
    content: none !important;
    margin-right: 0;
  }
  .el-form-item.is-required label::after{
    content: '*';
    margin-left:4px;
    color: #F95714;
  }
  .el-input__inner{
      border-radius: 0;
      height: 34px;
      line-height: 34px;
  }
  .el-textarea__inner{
    border-radius: 0;
  }
  .el-form-item__label{
      color:  #748093;
      text-align: right;
  }
  .el-form-item__content{
      color: #394A66;
  }
  .el-dialog.change_sty .el-dialog__body{
    overflow: auto;
  }
  .el-dialog__body{
    max-height: 500px;
    /*overflow-y: auto;*/
  }

  .el-dialog__footer .el-button--primary.is-disabled:hover{
    background-color: rgb(254, 199, 128) !important;
    border-color: rgb(254, 199, 128) !important;
}
